.App {
  text-align: center;

}
.parent {
  display: flex;
  height: 100%;
}
.form {
  flex: 1;
}
.todos {
  height: 100%;
  margin: 20px 10px;
  margin-left: 20px !important;
  padding: 10px 10px;
}
.goals {
  height: 100%;
  margin: 20px 10px;
  margin-right: 20px !important;
  padding: 10px 10px;
}
.close {
  float: right;
  font-size: 1.0rem !important;
  margin-top: auto;
  margin-bottom: auto;
}